*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color:#1E212D;
    
}
/*    INICIO PANEL SUPERIOR       */
.menu{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.panel-it{

    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.panel-it a{
    
    text-decoration: none;
    color: #F3F6FF;
    font-size: 16px;
}

#items{
    padding: 35px 35px;
    padding-right: 35px;
}

#items1{
    padding-top: 50px;
    padding-left: 5rem;
    padding-right: 3rem;
}




#items img{
    
    width: 150px;
    height: 50px;
    cursor: pointer;
}





article a:hover{
    color: #De3448;
    transition: all 700ms ease-out;
}





header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.panel-it  #items i{
    font-size: 45px;
    filter: invert(1);
    color: rgb(0, 0, 0);
}

.panel-it  i:hover{
    opacity: 0.5;
    transition: 0.5s;
}

header h2{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*             FIN DEL PANEL SUPERIOR                 */

/*-----------------------------------------------------------------------*/

table{
    margin-top:2vw;
    width: 100%;
    border: none;
}

a{
    color:#0d6efd;
}

td, h1, th{
    color:#fff;
}

td{
    border-top:1px solid #fff;
}

.encabezado .titulos{
    padding: 15px 15px 15px 15px; 
}


td, th{
    text-align: justify;
    padding: 15px 15px 15px 25px; 
}

td a:hover{
    color: #fff;
    transition: all 700ms ease-out;

}

form{
    margin-top:2vw;
}

.busca #buscador{
    width: 12%;
    height: 26px;
    border-radius: 5px;
    padding-left: 5px;
}

.busca i{
    font-size: 18px;
}

.busca #bor{
    height: 25px;

    margin-left:15px;
    width: 4%;
}

#opciones{
    width: auto;
    height: auto;
    margin-top: 2vw;
    text-decoration: n;
    margin-left: 2vw;
    display: inline-flex;
    flex-direction: column;
    background-color: #e69c1df5;
    padding-left:35px;
    padding-right:35px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 12px;
    text-align: center;
}

#opciones a:hover{
   
    color: #0d6efd;
    transition: all 700ms ease-out;
}



#opciones .ini{
    margin:5px 5px 5px 5px;
    color: black;
}



