.imgBx img{
    position: absolute;
    height: 100%;
    width: 50%; 
}

.likes{
    position: absolute;
    margin-left: 74vw;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 40px;
    background: #fff;
    border-radius: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 30px;
    color: #262626;
    transition: 0.5s;
    text-transform: uppercase;
    text-decoration: none; 
}

.likes img{
    width: 40px;
    height: 25px;
    position: relative;
    bottom: 14px;

    -webkit-transition: all 0.9s ease; 
    -moz-transition: all 0.9s ease; 
    -o-transition: all 0.9s ease; 
    -ms-transition: all 0.9s ease;
    

    
}

.likes img:hover{
    opacity: 1.4;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
}

.likesn{
    position: absolute;
    margin-left: 74vw;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 40px;
    background: #fff;
    border-radius: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 30px;
    color: #262626;
    transition: 0.5s;
    text-transform: uppercase;
    text-decoration: none; 
}

.likesn img{
    width: 40px;
    height: 35px;
    position: relative;
    bottom: 10px;

    -webkit-transition: all 0.9s ease; 
    -moz-transition: all 0.9s ease; 
    -o-transition: all 0.9s ease; 
    -ms-transition: all 0.9s ease;
    

    
}

.likesn img:hover{
    opacity: 1.4;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
}
.contenedor_likes p{
    margin-top: 2vw;
    color: white;
    font-family: Agency FB;
    position: absolute;
    left: 75%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
 
}


.view #vista {
    margin-left: 67%;
    
}



