* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1E212D;
}


#items{
  padding: 35px 35px;
  padding-right: 35px;
}

#items1{
  padding-top: 50px;
  padding-left: 5rem;
  padding-right: 3rem;
}




#items img{
  width: 150px;
  height: 50px;
  cursor: pointer;
}

article a{
  text-decoration: none;
  color: #fff;
}
.menu{
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
/*----------------CUERPO------------*/

img .imgP{
  border-radius: 50%;
}

.publicas{
  background: rgba( 255, 255, 255, 0.80 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 2vw 2vw 2vw 2vw;
  min-width: 350px;
  margin-left:32vw; 
  margin-right: 5vw;
  margin-bottom: 2%;
}

.titu{
  justify-content: center;
  padding-bottom: 12px;
  font-size: 17px;
}

.linea{
  position: relative;
  margin-top: 10px;
  background: rgba( 0, 0, 0, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.0px );
-webkit-backdrop-filter: blur( 4.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100%;
  height: 2px;
}

.libro{
  position: relative;
  background-color: #47507477;
  padding-top: 2vw;
  margin-top: 10px;
  width: 100%;
  border: 15px;
  height: auto;
  border-radius: 5px;
}

.libro .porta{
  position: absolute;
  padding-left: 2%;
  padding-top: 5.6%;
  padding-right: 60%;
  width: 23%;
  height: 55%;
}


::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #11111127;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb{
  background: #ffffff;
  border-radius: 50px;
}

#port{
  position: absolute;
  margin-top: 1%;
  margin-left: 8.6%;
}

.libro #lap{
  display: flex;
  position: absolute;
  min-height: 132px;
  margin-top: 7vw;
  margin-left: 40px;
}

.publi{
  position: relative;
  border-radius: 10px;
  background-color: #121214;
  width: auto;
  height: auto;
  margin-right: 2%;
  margin-left: 28%;
}

.publi h1{
  color: #fff;
  padding:2vw 2vw 2vw 2vw;

}

.publi p{
  border: 2px #fff;
}

.publi #bor{
  border-bottom: #fff5 5px;
}

.libron{
  height: auto;
  margin-left:86%;
  padding-bottom: 2%;
  padding-top: 1%;
}

.libron a, i{
  color: #121214;
  text-decoration: none;
}


/*----------------CUERPO------------*/


.panel-it{

  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.panel-it a{
  
  text-decoration: none;
  font-size: 16px;
}



article a:hover{
  color: #De3448;
  transition: all 700ms ease-out;
}





header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel-it  #items i{
  font-size: 45px;
  filter: invert(1);
  color: rgb(0, 0, 0);
}

.panel-it  i:hover{
  opacity: 0.5;
  transition: 0.5s;
}

header h2{
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*             FIN DEL PANEL SUPERIOR                 */

/*-----------------------------------------------------------------------*/



#logo:hover{
  opacity: 0.5;
  transition: 0.5s;
}





.card {
  position: absolute;
  min-width: 210px;
  margin-left:2%; 
  width: 25%;
  background: rgba( 245, 166, 35, 0.80 );
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}





#cardi{
  overflow: hidden;
  text-align: center;
}

section h2 {
  margin: .5em 0;
}

section p {
  margin: 1em 0;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: .5em .2em;
}

ul li a {
  text-decoration: none;
  color: white;
  background: #314652;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

ul li a:hover {
  transform: scale(1.2);
}

footer {
  align-items: center;
  width: 100%;
  height: 100%;
  background: #1E212D;
  position: hidden;
  border-radius: 8px;
}


footer p {
  text-align: center;
  padding-bottom: 5%;

  padding-top: 5%;

  

}

footer a{
  cursor: pointer;
  text-decoration: none;
  color: #F2B035;
}

footer i{
  color: #F2B035;
}

#perfil{
  font-size:120px ;
}

#PER:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#money{
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/*----------------------------------------------------------------------------*/
.modal{
  position: absolute;
  width: 85%;
  height: 83%;
  padding-left:15%;
  padding-top: 12%;
  justify-content: center;
  align-items: center;
}


.modal{
  position: fixed;
  top:0;
  left: 0;
  background: rgba(0,0,0,0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.modal a{
  text-decoration:none;
}

#btn-modal{
  display: none;
}

#btn-modal:checked ~ .modal{
  opacity: 1;
  visibility: visible;
}

.contenedor{
  flex-flow: row column;
  min-height: 450px;
  flex-shrink: 3;
  min-width: 450px;
  border-radius: 12px;
  padding-bottom: 50px;
  width: 80%;
  height: 25vw;
  background: #2B3C64;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  transform: translateY(-30%);
}

#btn-modal:checked ~ .modal .contenedor{
  transform: translateY(0%);
}


.contenedor .head{
  padding:15px;
  background: #F2B035;
  color: #111111;
}

.contenedor label{
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(26, 25, 25);
  font-size: 15px;
  cursor: pointer;
}

.lbl-modal{
  cursor: pointer;
  color: #fff;
  padding-right: 8vw;
  padding-left: 3vw;
  padding-top: 4px;
}

.lbl-modal:hover{
  transition: all 700ms ease-out;
  color: #De3448;
}

.main-container{
  display: block;
}

.conten{
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 2vw;

  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  width: 90%;
  height: 80%;
  background:#0E0E0E;
  border-radius: 8px;
  box-shadow: 0 px 12px rgba(58, 57, 57, 0.7);
  z-index: 1;
  overflow: hidden;
}

.box{
  position: absolute;
  width: 100%;
}

.upper{
  background: #0E0E0E;
  color: #fff;
}

.upper::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
}

.upper h1{
  padding:1rem 0 0 1.3rem;
}


.upper h6{
  padding:0 1.4rem;
}

.lower{
  bottom: 0;
  height: 250px;
  background: #fff;
  border-radius: 80px 0 0 0;
}

form{
  background:#0E0E0E ;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

form h4, h5{
  color: #fff;
}

form textarea{
height: 10%;
width: 95%;
min-height: 70px;
min-width: 80px;
resize:none;
font-size: 17px;
padding: 9px 7px;
border-radius: 3px;
background: #dbd9d0;
border: none;
}



.input{
  margin-left: 2%;
}

.input1{
}

.input1 h5{
  margin-left: 12px;
  padding-top: 9px;
}

.input1 h1{
  font-size: 15px;
  padding-bottom: 5vw;
  color: crimson;
}

.input1 h1:hover{
  color: white;
  transition:all 3s;
}

.input input{
  margin-bottom: 1.5%;
  width: 260px;
  height: 35px;
  outline: none;
  padding:0 .7rem;
  border-radius: 3px;
  transition: .2s;
}

.input label{
  left: 10px;
  font-size: .9rem;
  transition: .2s;
  padding:0 .1rem;
}

.login-btn{
  margin:25px 25px;
  border-radius: 12px;
  background: linear-gradient(145deg, #0f0f0f, #0d0d0d);
  margin-top: 20px;
  color: #fff;
  padding: 5px 25px;
}